@page "/inputs"
@inject NavigationManager NavigationManager

<div class="row-layout inputs-container">
    <div class="column-layout column-layout_1">
        <IgbInput DisplayType="InputType.Email" Label="Email address" Outlined="false" class="input" inputs-scope>
            <span slot="prefix">
                <span class="material-icons icon">
                    mail
                </span>
            </span>
            <span slot="suffix">
                <span class="material-icons icon">
                    clear
                </span>
            </span>
        </IgbInput>
        <IgbInput Label="I'm disabled" Disabled="true" Outlined="false" class="input" inputs-scope></IgbInput>
        <IgbInput Label="Label +prefix+box+help" Outlined="false" class="input" inputs-scope>
            <span slot="prefix">
                <span class="material-icons icon">
                    person
                </span>
            </span>
            <span slot="helper-text">sample hint text</span>
        </IgbInput>
        <IgbInput Label="Label/Placeholder" Placeholder="Label/Placeholder" Outlined="false" class="input" inputs-scope></IgbInput>
        <IgbDatePicker @bind-Value="_value" Label="Date-box style-input format 1" class="date-picker" inputs-scope></IgbDatePicker>
        <IgbDatePicker @bind-Value="_value" Label="Date-box style - input format 2" class="date-picker" inputs-scope></IgbDatePicker>
        <span class="textarea">Textarea not yet available in Blazor</span>
        <IgbDatePicker Label="Date" class="date-picker_1" inputs-scope></IgbDatePicker>
        <div class="row-layout group">
            <IgbChip Size="SizableComponentSize.Large" class="chip" inputs-scope>
                <span slot="prefix">
                    <span class="material-icons icon_1">
                        place
                    </span>
                </span>
                Country
            </IgbChip>
            <IgbChip Size="SizableComponentSize.Large" class="chip" inputs-scope>
                <span slot="prefix">
                    <span class="material-icons icon_1">
                        place
                    </span>
                </span>
                Country
            </IgbChip>
            <IgbChip Size="SizableComponentSize.Large" class="chip_1" inputs-scope>
                <span slot="prefix">
                    <IgbAvatar Shape="AvatarShape.Circle" class="avatar" inputs-scope>
                        <span class="material-icons">
                            people
                        </span>
                    </IgbAvatar>
                </span>
                <span slot="suffix">
                    <span class="material-icons icon_1">
                        clear
                    </span>
                </span>
                Country
            </IgbChip>
            <IgbChip Disabled="true" Size="SizableComponentSize.Large" class="chip_1" inputs-scope>
                <span slot="prefix">
                    <span class="material-icons icon_1">
                        account_balance
                    </span>
                </span>
                <span slot="suffix">
                    <span class="material-icons icon_1">
                        clear
                    </span>
                </span>
                Country
            </IgbChip>
        </div>
        <div class="row-layout group_1">
            <IgbChip Size="SizableComponentSize.Large" class="chip_2" inputs-scope>
                <span slot="prefix">
                    <IgbAvatar Initials="AB" Shape="AvatarShape.Circle" class="avatar_1" inputs-scope></IgbAvatar>
                </span>
                Country
            </IgbChip>
        </div>
        <IgbSlider Value="@_value1" Disabled="true" Min="0" Max="100" Step="10" PrimaryTicks="3" SecondaryTicks="2" HideSecondaryLabels="false" DiscreteTrack="true" Change="@(e => _value1 = (double)e.Detail)" class="slider" inputs-scope></IgbSlider>
        <IgbSlider Value="@_value1" Min="0" Max="100" Step="10" PrimaryTicks="3" SecondaryTicks="2" HideSecondaryLabels="false" TickOrientation="SliderBaseTickOrientation.Mirror" DiscreteTrack="true" Change="@(e => _value1 = (double)e.Detail)" class="slider" inputs-scope></IgbSlider>
        <IgbRangeSlider Lower="20" Upper="80" Min="0" Max="100" Step="10" DiscreteTrack="true" class="range-slider" inputs-scope></IgbRangeSlider>
        <IgbRangeSlider Lower="20" Upper="80" Min="0" Max="100" Step="10" PrimaryTicks="3" SecondaryTicks="1" HideSecondaryLabels="false" DiscreteTrack="true" class="range-slider" inputs-scope></IgbRangeSlider>
        <div class="row-layout group_2">
            <IgbAvatar Initials="GM" Size="SizableComponentSize.Large" Shape="AvatarShape.Circle" class="avatar_2" inputs-scope></IgbAvatar>
            <IgbAvatar Src="assets/Avatar2.png" Size="SizableComponentSize.Medium" class="avatar_3" inputs-scope></IgbAvatar>
            <IgbAvatar Shape="AvatarShape.Circle">
                <span class="material-icons">
                    people
                </span>
            </IgbAvatar>
        </div>
        <div class="row-layout group_3">
            <span class="material-icons icon_1">
                person
            </span>
            <span class="material-icons icon_2">
                person
            </span>
            <span class="material-icons icon_3">
                person
            </span>
            <span class="material-icons icon_4">
                person
            </span>
            <IgbRating Size="SizableComponentSize.Large" class="user-input" inputs-scope></IgbRating>
        </div>
    </div>
    <div class="column-layout group_4">
        <IgbInput Label="Label + prefix + suffix + border" Outlined="true" class="input" inputs-scope>
            <span slot="prefix">
                <p class="typography__body-2 text">
                    https://
                </p>
            </span>
            <span slot="suffix">
                <p class="typography__body-2 text">
                    .com
                </p>
            </span>
        </IgbInput>
        <IgbInput Value="@_value2" Label="Label + required" Required="true" Outlined="true" Change="@(e => _value2 = (string)e.Detail)" class="input" inputs-scope></IgbInput>
        <IgbInput Label="I'm disabled" Disabled="true" Outlined="true" class="input" inputs-scope></IgbInput>
        <IgbInput Label="Label/Placeholder" Required="true" Outlined="true" class="input" inputs-scope></IgbInput>
        <IgbInput Label="Prefix, helptext and border" Outlined="true" class="input" inputs-scope>
            <span slot="prefix">
                <span class="material-icons icon">
                    person
                </span>
            </span>
            <span slot="helper-text">sample hint text</span>
        </IgbInput>
        <IgbDatePicker Label="Date" class="date-picker_1" inputs-scope></IgbDatePicker>
        <IgbDatePicker @bind-Value="_value" Label="Date" class="date-picker" inputs-scope></IgbDatePicker>
        <IgbDatePicker @bind-Value="_value" Label="Date" class="date-picker" inputs-scope></IgbDatePicker>
        <div class="row-layout group_5">
            <IgbButton Size="SizableComponentSize.Large" @onclick="@(e => Navigate("lists_data"))" class="button" inputs-scope>
                <span class="material-icons">
                    star
                </span>
                <span>Lists</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button" inputs-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" Size="SizableComponentSize.Large" class="button" inputs-scope>
                <span>Button</span>
                <span class="material-icons">
                    add
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Outlined" Disabled="true" Size="SizableComponentSize.Large" class="button" inputs-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Fab" Size="SizableComponentSize.Large" class="user-input" inputs-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Fab</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <a href="https://www.youtube.com/playlist?list=PLZ4rRHIJepBuKeP2WqXZUtG8LAYmyHHsa" class="typography__body-1 hyperlink">
                YouTube playlist
            </a>
            <div class="row-layout group_6">
                <div class="row-layout group_7">
                    <IgbIconButton Variant="IconButtonVariant.Flat">
                        <span class="material-icons">
                            email
                        </span>
                        <IgbRipple></IgbRipple>
                    </IgbIconButton>
                    <IgbBadge Variant="BadgeVariant.Success" class="badge" inputs-scope>
                        <span class="material-icons">
                            check
                        </span>
                    </IgbBadge>
                </div>
                <div class="row-layout group_7">
                    <span class="material-icons icon_2">
                        notifications
                    </span>
                    <IgbBadge Variant="BadgeVariant.Danger" class="badge_1" inputs-scope></IgbBadge>
                </div>
                <div class="row-layout group_7">
                    <span class="material-icons icon_2">
                        mail
                    </span>
                    <IgbBadge Variant="BadgeVariant.Warning" class="badge_2" inputs-scope>
                        <span class="material-icons">
                            check
                        </span>
                    </IgbBadge>
                </div>
                <div class="row-layout group_7">
                    <span class="material-icons icon_2">
                        mail
                    </span>
                    <IgbBadge Variant="BadgeVariant.Success" class="badge_2" inputs-scope>
                        999
                    </IgbBadge>
                </div>
                <IgbBadge Variant="BadgeVariant.Success" class="badge_3" inputs-scope>
                    Accepted
                </IgbBadge>
                <IgbBadge Variant="BadgeVariant.Danger" class="badge_3" inputs-scope>
                    Denied
                </IgbBadge>
            </div>
        </div>
        <div class="column-layout group_8">
            <div class="row-layout group_9">
                <span class="button-group">ButtonGroup not yet available in Blazor</span>
                <IgbSwitch Checked="@_checked" Change="@(e => _checked = (bool)e.Detail)" class="user-input_1" inputs-scope>
                    Notify me
                </IgbSwitch>
                <IgbSwitch Checked="@_checked" Change="@(e => _checked = (bool)e.Detail)" class="user-input_1" inputs-scope></IgbSwitch>
            </div>
            <div class="row-layout group_10">
                <IgbCheckbox Checked="true" class="checkbox" inputs-scope></IgbCheckbox>
                <IgbCheckbox LabelPosition="CheckboxBaseLabelPosition.After" Checked="true" class="checkbox" inputs-scope>
                    Does it work?
                </IgbCheckbox>
                <IgbCheckbox LabelPosition="CheckboxBaseLabelPosition.Before" Checked="true" class="user-input" inputs-scope>
                    How about now?
                </IgbCheckbox>
            </div>
        </div>
        <div class="row-layout group_11">
            <IgbRadioGroup class="radio-group" inputs-scope>
                <IgbRadio Value="1" class="radio" inputs-scope>
                    Label
                </IgbRadio>
                <IgbRadio Value="2" class="radio" inputs-scope>
                    Label
                </IgbRadio>
                <IgbRadio Value="3" class="radio" inputs-scope>
                    Label
                </IgbRadio>
            </IgbRadioGroup>
            <IgbRadioGroup Alignment="RadioGroupAlignment.Horizontal" class="user-input_1" inputs-scope>
                <IgbRadio Value="1" class="radio" inputs-scope>
                    Label
                </IgbRadio>
                <IgbRadio Value="2" class="radio" inputs-scope>
                    Label
                </IgbRadio>
                <IgbRadio Value="3" class="radio" inputs-scope>
                    Label
                </IgbRadio>
            </IgbRadioGroup>
        </div>
        <div class="row-layout group_12">
            <IgbInput Value="@_value2" Label="Group name" Required="true" Outlined="true" Change="@(e => _value2 = (string)e.Detail)" class="input_1" inputs-scope></IgbInput>
            <IgbButton Variant="ButtonVariant.Outlined" Size="SizableComponentSize.Large" class="button_1" inputs-scope>
                <span class="material-icons">
                    check
                </span>
                <span>Submit</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
</div>

@code {
    private string _value = "2021-03-16T00:00";
    private double _value1 = 50;
    private string _value2 = "some content";
    private bool _checked = true;

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
